@media (min-width: 1000px) {
    ul.nav.navbar-nav {
        margin-left: 120px;
    }
}

@media (min-width: 728px) {
	button.btn.navbar-btn {
	    margin-left: 10px;
	}
}

nav.navbar.navbar-default {
    border-bottom: 4px solid #6DB33F;
}

.em-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    color: #FFF;
    background-color: #555;
    border-top: 4px solid #6DB33F;
}

.login-form-wrapper {
	margin-top: 50px;
}

@media (min-width: 1000px) {
    .login-form-wrapper {
        margin-top: 100px;
    }
}
